#box {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    padding-top: 30px;
}

/* Style that will be toggled */
.change {
    background-color: yellow;
    color: red;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(131, 164, 167);
}
.table3{
    border: 5px solid black;
   background-color: blueviolet;
   width: 500px;
   height: 200px;}
.table3 th, .table3 td {
    border: 2px solid black;
}
    

